    <!-- Main Content Section -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="nine columns push-three">

      <h3>MapGit</h3>

      <p>MapGit is a service that paired with a git post-commit hook makes it
      simple to track where you write code.</p>

      <p>I'm not even sure where I stand on some of the privacy issues- so if
      there's something about it that's stopping you from using it- <a
        href="mailto:healey.rich+mapgit@gmail.com">get in touch</a>. I'd love
      to know where you draw the line.</p>

    </div>
