<div class="nine columns push-three">
  <form action="/geotags/upload" method="post">
    <div class="row">
      <label>Enter your tags to upload them directly. If you're using the defaults, you can find them at ~/.mapgit/geotags</label>
      <textarea name="tags" placeholder="tags"></textarea>
      <input type="submit" class="button" value="Submit" />
    </div>
  </form>
</div>
